{% extends 'base.html.twig' %}

{% block title %}Symfony-Blog | {{ post.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>{{ post.title }}</h2>
        <p><small>Publié le {{ post.publishedDate|date('d/m/Y') }}</small></p>
        <p>{{ post.content }}</p>
        <a href="{{ path('app_home') }}" class="btn btn-light">Retour à la liste</a>
    </div>
{% endblock %}